<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item page</title>
</head>
<body>
    <header>
        / <a href='/'>Home</a></td>
        / <a href='/items'>Items</a></td>
        / <a href='/about'>About</a></td>
    </header>

    <h1> {{item.name}} </h1>
    <br>
    {% if item.quantity != 0 %}
        <b> Количество {{ item.quantity }} </b>
    {% else %}
        <b> Товар отсутствует </b>
    {% endif %}

<br><br>
<hr>
<a href = "/items">К списку товаров</a>
</body>
</html>