{% extends "base.html" %}
{% block title %}
    <title>Items list</title>   
{% endblock title %}
    
{% block content  %}
    <h2>Список товаров</h2>
    <div class="items">
    {% for item in items %}
        <div class="item">
            <a href='{% url "item-info" item.id %}'>
                <p class="item_name">{{item.name}}</p>
                <p>Описание товара</p>
                <p>{{ item.description }} </p>
            </a>
        </div>
    {%endfor%}
    </div>
{% endblock  %}


